<h1>Hello Librarian</h1>

<h4>Here are all of the books in the library:</h4>

<ul>
  <% @copies.each do |copy| %>
    <li>
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      <a href="/patrons/<%= copy.id() %>"><%= copy.title() %></a>
    </li>
  <% end %>
</ul>

<ul>
  <li>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <a href="/copies/new">Add book to library</a>
  </li>
</ul>

<h4>Here are all of library cardholders:</h4>

<ul>
  <% @patrons.each do |patron| %>
    <li>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <a href="/patrons/<%= patron.id() %>"><%= patron.name() %></a>
    </li>
  <% end %>
</ul>

<p><a href="/"></a></p>
