<h1>blahblah</h1>
<h2>Select all books that you want to check out</h2>

<% if @copies.any?() %>
  <form action="/patrons/<%= @patron.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @copies.each() do |movie| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="movie_ids[]" value="<%= movie.id() %>"><%= movie.name() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add copies</button>
  </form>
<% end %>


<% if @patron.copies().any?() %>
  <h3>Here are all the copies starring this actor:</h3>

  <ul>
    <% @patron.copies().each() do |movie| %>
      <li><%= movie.name() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no copies yet!</p>
<% end %>


<a href="/">Return to Main Page</a>
